.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

// $i: 0;
// @for $i from 0 through 2 {
//     .carousel.active-card-#{$i} #card-#{$i} {
//       display: flex;
//       justify-content: flex-start;
//       align-items: center;
//       width: 95%;
//       height: 100%;
//       padding:0;
//       margin:0;
//       // visibility: visible;
//     }
// }

.cardsWrapper {
  display: flex;
  position: absolute;
  height: 100%;
  transition:all 1.0s ease-in-out;
  // .card {
  //   display: flex;
  //   justify-content: flex-start;
  //   align-items: center;
  //   width: 95%;
  //   height: 100%;
  //   padding:0;
  //   margin:0;
  //   // display: none;
  //   // visibility: hidden;
  // }
}
