@import "../../Generic/colors.scss";
@use "sass:map";

.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: white;
    .header {
        margin-bottom: 600px;
        margin-top: 300px;
        font-size: 100px;
        width: 50%;
    }
    .title {
        margin-bottom: 60px;
        font-size: 60px;
        color: map-get($map: $colors, $key: "light");
        width: 50%;
    }
    .text {
        width: 50%;
        margin-bottom: 60px;
        font-weight: bold;
    }
    .subtitle {
        width: 50%;
        margin-bottom: 60px;
        font-weight: 600;
        font-size: 40px;
    }
    .social {
        width: 6%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 250px;
    }
}