@import "../../Generic/colors.scss";
.card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    height: 100%;
    padding:0;
    margin:0;
    .image {
      width: 25%;
      height: 88%;
      text-align: center;
      margin-right: 60px;
      box-shadow: -20px -20px map-get($map: $colors, $key: "secondary");
    }
    .data {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 75%;
      height: 100%;
    }
    .title{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      height: 20%;
    }
    .title h1{
      font-size: xx-large;
      color: white;
      font-family: 'Poppins', sans-serif;
      margin-right: 20px;
    }
    .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 20%;
      padding-bottom: 40px;
    }
    .footer button {
      width: 140px;
      height: 40px;
    }
    .link {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
    .link img{
      width: 100px;
      height: 100px;
    }
}