@import "../../Generic/colors.scss";
@use "sass:map";

.home{
    width: 100%;
    padding: 0px 110px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: map-get($map: $colors, $key: "text");
}

.sec1{
    width: 100%;
    margin-top: 200px;
}

.sec1 h1{
    font-size: 100px;
}

.sec1 p{
    font-size: 15px;
    font-weight: bold;
}

.sub{
    font-size: 20px;
    margin-bottom: 20px;
}

.search{
    width: 600px;
    height: 60px;
    border: 1px solid map-get($map: $colors, $key: "light");
    display: flex;
    justify-content: flex-start;
    border-radius: 4px;
    margin-bottom: 20px;
}

.search button{
    height: 100%;
    width: 20%;
    margin: 0px;
}
.search input{
    height: 100%;
    width: 80%;
    background-color: transparent;
    border: none;
}

.sec2{
    width: 100%;
    height: 2070px;
    margin-top: 640px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.sec2 h1{
    font-size: 45px;
    color: map-get($map: $colors, $key: "light");
}

.howItWorks {
    margin-top: 100px;
    width: 92%;
    height: 900px;
    border: 15px solid #64c6fe;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .tutorial {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0px 70px;
        margin-top: 30px;
        .button {
            margin: 30px 0px 70px 0px;
            width: 140px;
            height: 50px;
        }
        .steps {
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            .step {
                height: 100%;
                width: 28%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                text-align: center;
                .header {
                    font-size: 50px;
                }
                .title {
                    font-size: 30px;
                }
            }
            .step img{
                width: 200px;
                height: 200px;
            }
            .step p {
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}

.howItWorks h1 {
    margin-top: 60px;
}

.quotes {
    display: flex;
    flex-direction: column;
    .quote {
        font-size: 30px;
        font-weight: bold;
        line-height: 50px;
        padding-right: 20px;
    }
    .owner {
        font-size: 30px;
        font-weight: bold;
        color: map-get($map: $colors, $key: "light");
    }
}

.quotesWrapper {
    width: 50%;
    height: 360px;
    text-align: center;
    margin-top: 90px;
}

.carouselWrapper {
    width: 65%;
    height: 360px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}