.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: white;
    width: 100%;
    .header {
        height: 520px;
        width: 60%;
        background-image: url("../../assets/Contact.jpg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 75px;
        margin-bottom: 4%;
    }
    .page {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 70%;
        margin: 0% 20% 5% 10%;
        // margin-right: 20%;
        // margin-left: 10%;
        // margin-bottom: 5%;
        .form {
            margin-right: 20px;
            width: 80%;
            .element {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 60px;
            }
            .input {
                width: 80%;
                height: 60px;
                background-color: inherit;
                border: 1px solid #64fecc;
                border-radius: 4px;
            }
            .label {
                font-size: 30px;
                margin-bottom: 2%;
            }
        }
        .data {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 50%;
            .social {
                width: 18%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 250px;
            }
        }
        .data p {
            font-size: 30px;
            font-weight: bold;
            text-align: left;
            font-style: italic;
            margin-bottom: 7%;
        }
    }
}