@import "../../Generic/colors";
@use "sass:map";

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
    padding-top: 20px;
}

.logo{
    width: 100px;
    height: 100px;
}

.controls{
    color: map-get($map: $colors, $key: "text");
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.links{
    border-right: 3px solid map-get($map: $colors, $key: "light");
    padding-right: 20px;
    margin-right: 20px;
    height: 65px;
    display: flex;
    align-items: center;
}

.login{
    background-color: transparent;
    color: white;
    margin: 0px;
}

.link{
    width: 40px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: white;
}