@import "../../Generic/colors";
@use "sass:map";

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    color: map-get($map: $colors, $key: "light");
    background-color: map-get($map: $colors, $key: "black");
    width: 100%;
}
