@import "./Generic/colors";
@use "sass:map";

.App{
    background-color: map-get($map: $colors, $key: "primary");
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}