@import "./Generic/colors";
@use "sass:map";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Rubik', sans-serif;
}

body * {
  margin: 0;
  box-sizing: border-box;
}

body button{
    height: 35px;
    width: 100px;
    font-weight: bolder;
    font-size: larger;
    margin: 0px 10px;
    background-color: map-get($map: $colors, $key: "light");
    border-radius: 3px;
    border: none;
    color: map-get($map: $colors, $key: "secondary");
}

body input {
    color: white;
    padding-left: 15px;
    font-size: 17px;
}

body h1{
  font-family: 'Rubik', sans-serif;
}

body p{
  font-family: 'Poppins', sans-serif;
}

body div{
  font-family: 'Squada One', cursive;
}

body button:hover{
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
