@import "../../../Generic/colors";
@use "sass:map";

.dialog {
    min-width: 40%;
    min-height: 25%;
    justify-content: flex-start;
    align-items: center;
    background-color: map-get($map: $colors, $key: "primary");
    .title {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
        .image {
            width: 45px;
            height: 45px;
        }
    }
}

.dummy > div > div {
    background-color: map-get($map: $colors, $key: "primary");
    color: map-get($map: $colors, $key: "text");
    border: 1px solid map-get($map: $colors, $key: "light");
}