@import "../../Generic/colors.scss";
@use "sass:map";

.login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.form {
    width: 80%;
    border-top: 1px solid map-get($map: $colors, $key: "text");
    padding-top: 70px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.element {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 60px;
}

.input {
    width: 100%;
    height: 45px;
    background-color: inherit;
    border: 1px solid map-get($map: $colors, $key: "light");
    border-radius: 4px;
}

.label {
    font-size: 15px;
    margin-bottom: 2%;
    font-family: 'Poppins', sans-serif;
}

.check {
    border: 1px solid map-get($map: $colors, $key: "light");
    color: map-get($map: $colors, $key: "light");
}

.subtitle {
    text-decoration: underline;
    cursor: pointer;
    font-size: 10px;
}