@import "../../Generic/colors.scss";
@use "sass:map";

.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.header {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px solid white;
}

.element {
    width:70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 60px;
}

.input {
    width: 100%;
    height: 45px;
    background-color: inherit;
    border: 1px solid map-get($map: $colors, $key: "light");
    border-radius: 4px;
}

.label {
    font-size: 15px;
    margin-bottom: 2%;
    font-family: 'Poppins', sans-serif;
}