@import "../../Generic/colors.scss";
@use "sass:map";

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .subtitle {
        text-decoration: underline;
        cursor: pointer;
    }
    margin-bottom: 30px;
}

.signup {
    width: 100%;
    height: 1020px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 80%;
    border-top: 1px solid white;
    padding-top: 70px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.element {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 60px;
}

.input {
    width: 100%;
    height: 45px;
    background-color: inherit;
    border: 1px solid #64fecc;
    border-radius: 4px;
}

.label {
    font-size: 15px;
    margin-bottom: 2%;
    font-family: 'Poppins', sans-serif;
}

.choise {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.button {
    width: 45%;
    height: 50px;
    margin: 0;
    background-color: inherit;
    color: map-get($map: $colors, $key: "text");
    font-weight: 600;
    border: 1px solid map-get($map: $colors, $key: "light");
}

.active {
    width: 45%;
    height: 50px;
    margin: 0;
    background-color: inherit;
    font-weight: 600;
    background-color: map-get($map: $colors, $key: "light");
    color: map-get($map: $colors, $key: "secondary");
}